@model IEnumerable<AgrariaSurvey.Models.Responden>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AlamatResponden">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentitasResponden.NomorResponden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentitasResponden.NamaResponden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentitasResponden.JenisKelaminResponden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentitasResponden.NoHpResponden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentitasResponden.NomorResponden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentitasResponden.NamaResponden)
                </td>
                @if (item.IdentitasResponden?.JenisKelaminResponden == "1")
                {
                    <td>
                        Perempuan
                    </td>
                }
                else if (item.IdentitasResponden?.JenisKelaminResponden == "2")
                {
                    <td>
                        Laki-laki
                    </td>
                }
                else
                {
                    <td>
                        -
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdentitasResponden.NoHpResponden)
                </td>
                <td>
                    <a asp-action="AlamatRespondenEdit" asp-route-id="@item.RespondenID">Edit</a> |
                    <a asp-action="AlamatRespondenDetail" asp-route-id="@item.RespondenID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RespondenID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
