@model AgrariaSurvey.Models.RiwayatBermukim

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RiwayatBermukim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespondenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespondenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariSuami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariSuami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariSuamiProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariSuamiProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariSuamiKota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariSuamiKota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariSuamiKec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariSuamiKec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariSuamiDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariSuamiDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtnisAyahDariSuami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtnisAyahDariSuami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TahunKedatanganAyahDariSuamiKeDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TahunKedatanganAyahDariSuamiKeDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlasanAyahDariSuamiDatangKeDesaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlasanAyahDariSuamiDatangKeDesaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariSuami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariSuami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariSuamiProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariSuamiProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariSuamiKota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariSuamiKota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariSuamiKec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariSuamiKec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariSuamiDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariSuamiDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtnisIbuDariSuami)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtnisIbuDariSuami)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TahunKedatanganIbuDariSuamiKeDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TahunKedatanganIbuDariSuamiKeDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlasanIbuDariSuamiDatangKeDesaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlasanIbuDariSuamiDatangKeDesaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariIstri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariIstri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariIstriProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariIstriProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariIstriKota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariIstriKota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariIstriKec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariIstriKec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirAyahDariIstriDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirAyahDariIstriDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtnisAyahDariIstri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtnisAyahDariIstri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TahunKedatanganAyahDariIstriKeDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TahunKedatanganAyahDariIstriKeDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlasanAyahDariIstriDatangKeDesaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlasanAyahDariIstriDatangKeDesaIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariIstri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariIstri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariIstriProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariIstriProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariIstriKota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariIstriKota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariIstriKec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariIstriKec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempatLahirIbuDariIstriDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempatLahirIbuDariIstriDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtnisIbuDariIstri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtnisIbuDariIstri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TahunKedatanganIbuDariIstriKeDesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TahunKedatanganIbuDariIstriKeDesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlasanIbuDariIstriDatangKeDesaIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlasanIbuDariIstriDatangKeDesaIni)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RiwayatBermukimID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
